<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>Danh sách dịch vụ</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link rel="stylesheet" href="/assets/css/listServiceCustomer.css">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
</head>
<style>
    .current-page {
        background-color: #007BFF;
        color: white;
    }

    /* Thêm CSS cho dòng details */
    .details {
        display: none;
    }
</style>

<body data-bs-target=".navbar" data-bs-offset="100">
<header th:replace="~{header :: header}">
</header>

<div id="content">
    <div class="site-blocks-cover overlay" style="background-image: url(assets/img/rooms/background.jpg);"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container1">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1 class="mb-4">Dịch vụ khách sạn</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-head">
            <h2>Dịch vụ chính của chúng tôi</h2>
        </div>
        <hr>
        <div class="d-flex">
            <form class="ms-auto" style="margin-right: 50px;" method="get" action="/services">
                <input type="text" name="serviceName" th:value="${serviceName}" placeholder="Tìm kiếm tên dịch vụ">
                <button type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="container">
            <ul class="list-featured-box d-flex-wrap justify-content-center">
                <li class="featured-box" th:each="service : ${services}">
                    <a href="#" class="post-thumb">
                        <img th:src="@{'/assets/img/services/' + ${service.serviceImage}}" width="360"
                             height="245"/>
                    </a>
                    <b th:text="${service.serviceName}">Service Name</b>
                    <!--<a href="#" class="see-now">Xem ngay</a>-->
                    <a th:href="@{/service-details(serviceId=${service.serviceId})}" class="see-now">Xem ngay</a>
                </li>
            </ul>


        </div>

    </div>
</div>
<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        <!-- Nút nhảy đến đầu trang -->
        <li class="page-item">
            <a class="page-link" th:href="@{/services(page=0, serviceName=${serviceName})}">
                <span aria-hidden="true">Đầu</span>
            </a>
        </li>
        <li th:if="${currentPage > 0}" class="page-item">
            <a class="page-link" th:href="@{/services(page=${currentPage - 1}, serviceName=${serviceName})}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>


        <!-- Hiển thị trang hiện tại và trang liền kề trước sau -->
        <li th:each="page, stat : ${#numbers.sequence(0, totalPages - 1)}" class="page-item">
            <span th:if="${currentPage > 1 and page == 0}" class="ellipsis"></span>
            <a th:if="${page == currentPage}" class="page-link current-page" th:text="${page + 1}"></a>
            <a th:if="${page == currentPage - 1}" class="page-link"
               th:href="@{/services(page=${page}, serviceName=${serviceName})}" th:text="${page + 1}"></a>
            <a th:if="${page == currentPage + 1}" class="page-link"
               th:href="@{/services(page=${page}, serviceName=${serviceName})}" th:text="${page + 1}"></a>
            <span th:if="${currentPage < totalPages - 2 and page == totalPages - 1}" class="ellipsis"></span>
        </li>

        <li th:if="${currentPage < totalPages - 1}" class="page-item">
            <a class="page-link" th:href="@{/services(page=${currentPage + 1}, serviceName=${serviceName})}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <!-- Nút nhảy đến cuối trang -->
        <li class="page-item">
            <a class="page-link" th:href="@{/services(page=${totalPages - 1}, serviceName=${serviceName})}">
                <span aria-hidden="true">Cuối</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Contact section -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-xl modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body p-0">
								<div class="container-fluid">
									<div class="row">
										<div class="col-lg-4 bg-cover"
											style="background-image: url(../assets/img/contact3.png); min-height: 300px;">
										</div>
										<div class="col-lg-8">
											<form id="feedback-form" class="row p-lg-5 gy-4">
												<div class="col-12">
													<h3>Liên lạc với chúng tôi</h3>
													<p>Để biết thêm chi tiết về khách sạn Hà Nội 3HKT, bao gồm
														giá phòng, hội thảo, các ưu đãi nghỉ dưỡng và ẩm thực
														hay góp ý với chúng tôi, quý khách vui lòng để lại
														thông tin, đội ngũ nhân viên Kinh Doanh sẽ liên hệ với bạn
														trong thời gian sớm nhất.</p>
												</div>

												<div class="col-12">
													<label for="title" class="form-label">Tiêu đề</label>
													<input type="text" class="form-control" id="title" maxlength="100"
														name="title" placeholder="Tiêu đề">
													<div id="title-validation-msg" class="text-danger"></div>
												</div>
												<div class="col-12">
													<label for="email" class="form-label">Email</label>
													<input type="email" class="form-control" id="email" name="email"
														placeholder="name@example.com">
													<div id="email-validation-msg" class="text-danger"></div>
												</div>
												<div class="col-12">
													<label for="content" class="form-label"> Nội dung </label>
													<textarea id="content" name="content" cols="30" rows="5"
														class="form-control" minlength="10" maxlength="2000"
														placeholder="Viết ở đây..."></textarea>
													<div id="content-validation-msg" class="text-danger"></div>
												</div>
												<div class="col-lg-3">
													<button type="button" id="submit-feedback"
														class="btn btn-warning">Gửi yêu cầu
													</button>
												</div>

												<div class="col-lg-3">
													<button type="button" class="btn btn-warning"
														data-bs-dismiss="modal">Hủy
													</button>
												</div>
											</form>
										</div>

										<script>
											// Sử dụng JavaScript để gửi yêu cầu POST khi nút "Gửi yêu cầu" được bấm
											document.getElementById("submit-feedback").addEventListener("click", function () {
												var title = document.getElementById("title").value;
												var email = document.getElementById("email").value;
												var content = document.getElementById("content").value;
												//title validate
												var titleValidationMsg = document.getElementById("title-validation-msg");

												if (title.length == 0) {
													titleValidationMsg.textContent = "Tiêu đề không được để trống";
													return; // Prevent the form from being submitted
												} else {
													titleValidationMsg.textContent = ""; // Clear any previous error message
												}
												// email validate
												var emailValidationMsg = document.getElementById("email-validation-msg");
												var emailRegex = /^[a-zA-Z0-9!#$%&'*+/=?^`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
												if (email.length == 0) {
													emailValidationMsg.textContent = "Email không được để trống";
													return; // Prevent the form from being submitted
												} else if (!emailRegex.test(email)) {
													emailValidationMsg.textContent = "Email phải có định dạng example@gmail.com.";
													return; // Prevent the form from being submitted
												} else {
													emailValidationMsg.textContent = ""; // Clear any previous error message
												}
												//content validate
												var contentValidationMsg = document.getElementById("content-validation-msg");

												if (content.length < 10) {
													contentValidationMsg.textContent = "Nội dung phải có ít nhất 10 ký tự.";
													return; // Prevent the form from being submitted
												} else if (content.length > 2000) {
													contentValidationMsg.textContent = "Nội dung không được vượt quá 2000 ký tự.";
													return; // Prevent the form from being submitted
												} else {
													contentValidationMsg.textContent = ""; // Clear any previous error message
												}

												var data = {
													title: title,
													email: email,
													content: content
												};

												fetch("/feedback/save", {
													method: "POST",
													headers: {
														"Content-Type": "application/json"
													},
													body: JSON.stringify(data)
												})
													.then(response => {
														if (!response.ok) {
															throw new Error(`HTTP error! Status: ${response.status}`);
														}
														return response.text();  // Use response.text() for plain text
													})
													.then(message => {
														// Display the message from the server
														alert(message);
														window.location.reload();  // Optionally reload the page
													})
													.catch(error => {
														// Handle errors here
														console.error("Error:", error);
														alert("Có lỗi xảy ra khi gửi feedback. Hãy thử lại.");
													});
											});

										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

<section th:replace="~{footer :: footer}"></section>


<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Custom Js Link -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/aos.js"></script>
</body>

</html>