<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/header-footer.css"/>
    <link rel="stylesheet" href="/assets/css/header_footer_style.css"/>
</head>
<body>
<!-- Footer section -->
<footer>
    <section id="contact" th:fragment="footer" class="footer_wrapper mt-3 mt-md-0 pb-0">
        <div class="container pb-3">
            <div class="row">
                <div class="col text-center">
                    <h5>3HKT Hotel</h5>
                    <p class="ps-0">Để biết thêm chi tiết về khách sạn Hà Nội 3HKT hay góp ý với
                        chúng tôi,
                        quý khách vui lòng để lại thông tin, chúng tôi sẽ liên hệ với bạn trong
                        thời gian sớm nhất.</p>
                    <div class="contact-info">
                        <ul class="list-unstyled">
                            <li><a href="#" style="pointer-events: none"><i class="fa fa-home me-3"></i> 67 Phùng Khoang, Trung Văn, Từ
                                Liêm, Hà Nội</a></li>
                            <li><a href="#" style="pointer-events: none"><i class="fa fa-phone me-3"></i>+84 388 663 366</a></li>
                            <li><a href="#" style="pointer-events: none"><i class="fa fa-envelope me-3"></i>reservation@3hkthotel.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright-section">
            <p class="center-text">Copyright <a href="/homepage">3HKT Hotel</a> All Rights Reserved</p>
        </div>
    </section>
</footer>



<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Custom Js Link -->
<script src="/assets/js/main.js"></script>
</body>
</html>