<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết đặt phòng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="...">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/customer.css"/>
    <script src="/assets/js/customer.js"></script>
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
</head>


<body data-bs-target=".navbar" data-bs-offset="100"></body>
<header th:replace="~{header :: header}"></header>

<div class="wrapper">
    <div class="container shadow">
        <h4 class="pt-5">Thông tin cơ bản</h4>

        <input name="hotelBookingId" type="hidden"
               th:value="${bookingDetailsDTO.getHotelBooking().getHotelBookingId()}">

        <div class="row bg-light-subtle border mb-5 m-0 shadow">
            <div class="p-3 col-lg-6">
                <p class="fw-bold">
                    Mã đặt phòng: <span class="fw-normal"
                                        th:text="${bookingDetailsDTO.getHotelBooking().getHotelBookingId()}"></span>
                </p>

                <p class="fw-bold">
                    Nhận phòng: <span class="fw-normal" th:text="${bookingDetailsDTO.getCheckIn()}"></span>
                </p>

                <p class="fw-bold">
                    Trả phòng: <span class="fw-normal" th:text="${bookingDetailsDTO.getCheckOut()}"></span>
                </p>
            </div>

            <div class="p-3 col-lg-6 text-end">
                <p><br></p>
                <p class="fw-bold">
                    Nhận phòng thực tế: <span class="fw-normal"
                                              th:text="${bookingDetailsDTO.getCheckInActual()}"></span>
                </p>

                <p class="fw-bold">
                    Trả phòng thực tế: <span class="fw-normal"
                                             th:text="${bookingDetailsDTO.getCheckOutActual()}"></span>
                </p>
            </div>
        </div>


        <h4>Chi tiết đặt phòng</h4>
        <div class="row bg-light-subtle border m-0 shadow"
             th:each="room, iteration : ${bookingDetailsDTO.getBookingRoomDetails()}">
            <div class="col-6 p-3">
                <p class="fw-bold">Loại phòng: <span class="fw-normal"
                                                     th:text="${room.getRoomCategories().getRoomCategoryName()}">Phòng đơn</span>
                </p>
                <p class="text-danger m-0 fw-bold">ƯU ĐÃI ĐẶC BIỆT: </p>
                <p class="">Bao gồm bữa sáng</p>
                <th:block th:each="r : ${bookingDetailsDTO.getGroupedRooms()}">
                    <th:block th:if="${r.getKey() == room.getRoomCategories().getRoomCategoryId()}">
                        <P class="fw-bold mb-0">Chi tiết:</P> <span class="fw-normal"><span
                            th:text="${r.getValue().size()}"></span> phòng, <span
                            th:text="${bookingDetailsDTO.getDateInfoList().size()-1}"></span> đêm,
								<span th:text="${room.getRoomCategories().getNumberPerson()}"> </span> người </span>
                    </th:block>
                </th:block>
            </div>
            <div class="col-2 p-3 align-content-between align-middle">
                <p class="mb-0">Số lượng phòng</p>

                <th:block th:each="r : ${bookingDetailsDTO.getGroupedRooms()}">
                    <th:block th:if="${r.getKey() == room.getRoomCategories().getRoomCategoryId()}">
							<span class="mb-3" aria-label="Select example" th:text="${r.getValue().size()}">

							</span>
                    </th:block>
                </th:block>

                <p class="mb-0">Số lượng khách
                    <i class="bi bi-exclamation-circle-fill" data-bs-container="body" data-bs-toggle="popover"
                       data-bs-placement="top"
                       data-bs-content="Từ 2 đến 12 tuổi được miễn phí nếu sử dụng giường có sẵn."
                       data-bs-trigger="hover"></i>
                </p>
                <span class="" aria-label="Default select example" disabled
                      th:text="${room.getRoomCategories().getNumberPerson()}">
					</span>
            </div>
            <th:block th:each="gr : ${bookingDetailsDTO.getGroupedRooms()}">
                <th:block th:if="${gr.getKey() == room.getRoomCategories().getRoomCategoryId()}">
                    <th:block th:if="${bookingDetailsDTO.getTotalPriceByCategoryId().containsKey(gr.getKey())}">
                        <div class="col p-3 text-end">
                            <p class="fw-bold">Giá từng phòng: <span class="fw-normal"
                                                                     th:text="${#numbers.formatDecimal(bookingDetailsDTO.getTotalPriceByCategoryId().get(gr.getKey()), 0, 'COMMA', 0, 'POINT') + ' VND/'}">1.200.000
									</span> <span th:text="${bookingDetailsDTO.getDateInfoList().size()-1}+' Đêm'">

									</span>
                            </p>
                            <p class="fw-bold">Tổng giá phòng: <span class="fw-normal"
                                                                     th:text="${#numbers.formatDecimal(bookingDetailsDTO.getTotalPriceByCategoryId().get(gr.getKey()).multiply(gr.getValue().size()), 0, 'COMMA', 0, 'POINT') + ' VND'}">2.400.000</span>
                            </p>
                            <p>Chính sách đặt phòng
                                <i class="bi bi-exclamation-circle-fill" data-bs-container="body"
                                   data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                   data-bs-content="Hủy: Nếu hủy hoặc thay đổi trước ngày nhận phòng, sẽ trừ 10% tổng hoá đơn phải thanh toán.

          <br><br>Thanh toán: Thanh toán toàn bộ hoặc đặt cọc 50% giá trị tiền đặt phòng..
          
          <br><br>Bữa ăn bao gồm: Bữa sáng đã bao gồm
          
          <br><br>Nhận phòng: 14:00
          
          <br><br>Trả phòng: 12:00
          
          <br><br>Chính sách khác: Giá phòng 2 người lớn và 1 trẻ em dưới 12 tuổi. Trẻ em từ 12 tuổi trở lên tính như người lớn."
                                   data-bs-trigger="hover"></i>
                            </p>
                        </div>
                    </th:block>
                </th:block>
            </th:block>
        </div>


        <div class="row g-2">
            <div class="col py-5 d-flex flex-column">
                <h4>Khách hàng</h4>
                <div class="bg-light-subtle border shadow p-2 flex-grow-1">
                    <p class="fw-bold ">
                        Ngày đặt: <span class="fw-normal"
                                        th:text="${#dates.format(bookingDetailsDTO.getHotelBooking().getCheckIn(), 'EEEE, dd-MM-yyyy')}"></span>
                    </p>
                    <p class=" fw-bold ">
                        Tên khách hàng: <span class="fw-normal"
                                              th:text="${bookingDetailsDTO.getUser().getName()}">Nguyen Ngoc Khoa</span>
                    </p>
                    <p class="fw-bold ">
                        Số điện thoại: <span class="fw-normal" th:text="${bookingDetailsDTO.getUser().getPhone()}">
								0354789654</span>
                    </p>
                    <p class="fw-bold ">
                        Email: <span class="fw-normal"
                                     th:text="${bookingDetailsDTO.getUser().getEmail()}">khoann153156@fpt.edu.vn</span>
                    </p>
                    <p class="fw-bold ">
                        Địa chỉ: <span class="fw-normal" th:text="${bookingDetailsDTO.getUser().getAddress()}">Thach
								Hoa, Thach That, Ha Noi</span>
                    </p>
                    <p class="fw-bold ">
                        Phương thức đặt: <span class="fw-normal"
                                               th:text="${bookingDetailsDTO.getPaymentType().getPaymentName()}">Trực tuyến</span>
                    </p>
                </div>
            </div>
            <div class="col py-5 ps-5 d-flex flex-column">
                <h4>Thông tin thanh toán</h4>
                <div class="bg-light-subtle border shadow p-2 text-end flex-grow-1">
                    <p class="fw-bold p-3 m-0">Tổng tiền phòng: <span class="fw-normal text-end"
                                                                      th:text="${#numbers.formatDecimal(bookingDetailsDTO.getRoomPrice(),0, 'COMMA', 0, 'POINT') + ' VND'}">3.960.000</span>
                    </p>
                    <p class="fw-bold p-3 m-0">Thuế(10%): <span class="fw-normal text-end"
                                                                th:text="${#numbers.formatDecimal(bookingDetailsDTO.getRoomPrice().multiply(0.1),0, 'COMMA', 0, 'POINT') + ' VND'}">3.960.000</span>
                    </p>
                    <th:block th:each="items : ${bookingDetailsDTO.getTransactionsList()}">
                        <th:block th:if="${items.getTransactionsTypeId() == 1}">
                            <p class="fw-bold border-bottom p-3 m-0">Số tiền đã thanh toán: <span id="taxAmount"
                                                                                                  class="fw-normal text-end"
                                                                                                  th:text="${#numbers.formatDecimal(items.getAmount(), 0, 'COMMA', 0, 'POINT') + ' VND'}">360.000</span>
                            </p>
                        </th:block>
                    </th:block>
                    <th:block th:if="${bookingDetailsDTO.getCustomerCancellation() != null}">
                        <th:block
                                th:if="${bookingDetailsDTO.getHotelBooking().getHotelBookingId() == bookingDetailsDTO.getCustomerCancellation().getHotelBookingId()}">
                            <p class="fw-bold border-bottom p-3 m-0">
                                Số tiền được hoàn khi huỷ phòng:
                                <span class="fw-normal text-end" th:utext="${bookingDetailsDTO.getCustomerCancellation().getRefundAmount() != null ?
                                                        #numbers.formatDecimal(bookingDetailsDTO.getCustomerCancellation().getRefundAmount(), 0, 'COMMA', 0, 'POINT') + ' VND' :
                                                        'Đang chờ xét duyệt'}">
            </span>
                            </p>
                        </th:block>
                    </th:block>


                    <th:block th:if="${bookingDetailsDTO.getHotelBooking().getStatusId()==3}">


                        <th:block th:each="items : ${bookingDetailsDTO.getTransactionsList()}">
                            <th:block th:if="${items.getTransactionsTypeId() == 3}">
                                <p class="fw-bold border-bottom p-3 m-0">Số tiền được hoàn: <span
                                        class="fw-normal text-end"
                                        th:text="${#numbers.formatDecimal(items.getAmount(), 0, 'COMMA', 0, 'POINT') + ' VND'}">360.000</span>
                                </p>
                            </th:block>

                        </th:block>

                    </th:block>

                    <th:block th:if="${bookingDetailsDTO.getHotelBooking().getStatusId()==3}">


                        <p class="fw-bold p-3 m-0">
                            Dịch vụ:
                            <span class="fw-normal text-end"
                                  id="totalPriceSum1"></span>
                        <p class="fw-bold  border-bottom m-0">
                            <a class="fw-normal" href="#" id="viewServiceDetails" style="display: none;">(Bấm để xem
                                chi tiết)</a>
                        </p>
                        </p>


                        <p class="fw-bold p-3 m-0">Tổng hoá đơn: <span class="fw-normal text-end"
                                                                       th:text="${#numbers.formatDecimal(bookingDetailsDTO.getHotelBooking().getTotalPrice(),0, 'COMMA', 0, 'POINT') + ' VND'}">3.960.000</span>
                        </p>

                    </th:block>


                </div>
            </div>
            <div class="row pb-4">
                <div class=" col text-end"><a th:href="@{/customer/viewBooking}" class="btn btn-dark ">Quay lại</a>
                </div>

                <div class="col text-start">
                    <th:block th:if="${bookingDetailsDTO.getCustomerCancellation() == null}">
                        <th:block th:if="${bookingDetailsDTO.getHotelBooking().getStatusId()==1}">

                            <a th:href="@{'/customer/cancelBooking/' + ${bookingDetailsDTO.getHotelBooking().getHotelBookingId()}}"
                               class="btn btn-dark ">Huỷ đặt phòng</a>

                        </th:block>


                    </th:block>

                </div>
            </div>
        </div>

    </div>
</div>
<div id="servicePopup" class="popup">
    <div class="">
        <button id="closeServicePopupBtn" class="close btn-close "></button>
        <h4> Thông tin dịch vụ</h4>
        <div class="">
            <table class="table table-striped table-bordered table-hover border shadow">
                <thead class="table-dark" id="thead">
                <tr>
                    <th>Tên dịch vụ</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Tổng giá</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="items : ${bookingDetailsDTO.getHotelBookingServiceList()}">
                    <th:block th:each="its : ${bookingDetailsDTO.getRoomServiceList()}">
                        <th:block th:if="${items.getServiceId() == its.getServiceId()}">
                            <td th:text="${its.getServiceName()}">Dịch vụ Aaaaaaaaaaaaaa</td>
                            <td th:text="${#numbers.formatDecimal(its.getServicePrice(), 0, 'COMMA', 0, 'POINT') + ' VND'}">
                                Dịch vụ Aaaaaaaaaaaaaa
                            </td>
                        </th:block>
                    </th:block>
                    <td th:text="${items.getQuantity()}"> 2</td>
                    <td th:text="${items.getTotalPrice()}">200,000 VND</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" align="right" class="fw-bold">Thuế(10%):</td>
                    <td id="taxTotalPriceSum" class="fw-bold">
                </tr>
                <tr>
                    <td colspan="3" align="right" class="fw-bold">Tổng cộng:</td>
                    <td id="totalPriceSum" class="fw-bold">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        var totalPriceSumElement = document.getElementById('totalPriceSum');
        var totalPriceSumElement1 = document.getElementById('totalPriceSum1');
        var viewServiceDetailsLink = document.getElementById('viewServiceDetails');
        var taxTotalPriceSum = document.getElementById('taxTotalPriceSum');
        var items =/*[[${bookingDetailsDTO.getHotelBookingServiceList()}]]*/ '';

        var sum = items.reduce(function (acc, item) {
            return acc + item.totalPrice;
        }, 0);
        // Calculate the percentage increase (10% in this case)
        var percentageIncrease = 0.1;
        var increasedAmount = sum * percentageIncrease;
        var totalAmountWithIncrease = sum + increasedAmount;

        totalPriceSumElement.textContent = formatCurrency(sum);
        totalPriceSumElement1.textContent = formatCurrency(sum);
        taxTotalPriceSum.textContent = formatCurrency(increasedAmount);
        
        // Show or hide the link based on the total price
        if (sum > 0) {
            viewServiceDetailsLink.style.display = 'inline'; // Display the link
        } else {
            viewServiceDetailsLink.style.display = 'none'; // Hide the link
        }
    });

    function formatCurrency(number) {
        if (isNaN(number)) {
            return 'Invalid number';
        }
        // Convert the number to a string and split it into integer and decimal parts
        const parts = number.toString().split('.');

        // Format the integer part with commas
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Join the parts and append 'VND'
        const formattedNumber = parts.join('.') + ' VND';

        return formattedNumber;
    }

    /*]]>*/
</script>
<!-- Contact section -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 bg-cover"
                             style="background-image: url(/assets/img/contact3.png); min-height: 300px;">
                        </div>
                        <div class="col-lg-8">
                            <form id="feedback-form" class="row p-lg-5 gy-4">
                                <div class="col-12">
                                    <h3>Liên lạc với chúng tôi</h3>
                                    <p>Để biết thêm chi tiết về khách sạn Hà Nội 3HKT, bao gồm
                                        giá phòng, hội thảo, các ưu đãi nghỉ dưỡng và ẩm thực
                                        hay góp ý với chúng tôi, quý khách vui lòng để lại
                                        thông tin, đội ngũ nhân viên Kinh Doanh sẽ liên hệ với bạn
                                        trong thời gian sớm nhất.</p>
                                </div>

                                <div class="col-12">
                                    <label for="title" class="form-label">Tiêu đề</label>
                                    <input type="text" class="form-control" id="title" maxlength="100" name="title"
                                           placeholder="Tiêu đề">
                                    <div id="title-validation-msg" class="text-danger"></div>
                                </div>
                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="name@example.com">
                                    <div id="email-validation-msg" class="text-danger"></div>
                                </div>
                                <div class="col-12">
                                    <label for="content" class="form-label"> Nội dung </label>
                                    <textarea id="content" name="content" cols="30" rows="5" class="form-control"
                                              minlength="10" maxlength="2000"
                                              placeholder="Viết ở đây..."></textarea>
                                    <div id="content-validation-msg" class="text-danger"></div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" id="submit-feedback" class="btn btn-warning">Gửi yêu cầu
                                    </button>
                                </div>

                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Hủy
                                    </button>
                                </div>
                            </form>
                        </div>

                        <script>
                            // Sử dụng JavaScript để gửi yêu cầu POST khi nút "Gửi yêu cầu" được bấm
                            document.getElementById("submit-feedback").addEventListener("click", function () {
                                var title = document.getElementById("title").value;
                                var email = document.getElementById("email").value;
                                var content = document.getElementById("content").value;
                                //title validate
                                var titleValidationMsg = document.getElementById("title-validation-msg");

                                if (title.length == 0) {
                                    titleValidationMsg.textContent = "Tiêu đề không được để trống";
                                    return; // Prevent the form from being submitted
                                } else {
                                    titleValidationMsg.textContent = ""; // Clear any previous error message
                                }
                                // email validate
                                var emailValidationMsg = document.getElementById("email-validation-msg");
                                var emailRegex = /^[a-zA-Z0-9!#$%&'*+/=?^`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
                                if (email.length == 0) {
                                    emailValidationMsg.textContent = "Email không được để trống";
                                    return; // Prevent the form from being submitted
                                } else if (!emailRegex.test(email)) {
                                    emailValidationMsg.textContent = "Email phải có định dạng example@gmail.com.";
                                    return; // Prevent the form from being submitted
                                } else {
                                    emailValidationMsg.textContent = ""; // Clear any previous error message
                                }
                                //content validate
                                var contentValidationMsg = document.getElementById("content-validation-msg");

                                if (content.length < 10) {
                                    contentValidationMsg.textContent = "Nội dung phải có ít nhất 10 ký tự.";
                                    return; // Prevent the form from being submitted
                                } else if (content.length > 2000) {
                                    contentValidationMsg.textContent = "Nội dung không được vượt quá 2000 ký tự.";
                                    return; // Prevent the form from being submitted
                                } else {
                                    contentValidationMsg.textContent = ""; // Clear any previous error message
                                }

                                var data = {
                                    title: title,
                                    email: email,
                                    content: content
                                };

                                fetch("/feedback/save", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify(data)
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error(`HTTP error! Status: ${response.status}`);
                                        }
                                        return response.text();  // Use response.text() for plain text
                                    })
                                    .then(message => {
                                        // Display the message from the server
                                        alert(message);
                                        window.location.reload();  // Optionally reload the page
                                    })
                                    .catch(error => {
                                        // Handle errors here
                                        console.error("Error:", error);
                                        alert("Có lỗi xảy ra khi gửi feedback. Hãy thử lại.");
                                    });
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section th:replace="~{footer :: footer}"></section>

<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Custom Js Link -->
<script src="/assets/js/main.js"></script>
</body>

</html>